POSTGRES_USER=mlflow
POSTGRES_PASSWORD=mlflow
POSTGRES_DB=mlflow
POSTGRES_HOST_PORT=55433
MLFLOW_HOST_PORT=55001
MLFLOW_TRACKING_URI=http://mlflow:5000
MLFLOW_BACKEND_STORE_URI=postgresql+psycopg2://mlflow:mlflow@postgres:5432/mlflow
MLFLOW_ARTIFACT_ROOT=/mlflow/artifacts

HOST_RUNTIME_DIR=./runtime
HOST_DATA_DIR=./private_runtime/data
HOST_BEST_FEATURES_DIR=./private_runtime/best_features
HOST_QUANTIZED_MODELS_DIR=./private_runtime/quantized_models
HOST_MODELS_PARAMETERS_DIR=./private_runtime/models_parameters
HOST_TRANSFORMER_OUTPUTS_DIR=./private_runtime/transformer_outputs
HOST_HISTORY_DIR=./private_runtime/history
HOST_RESULTS_DIR=./private_runtime/results
HOST_PRODUCTION_PREDICTIONS_DIR=./private_runtime/production_predictions
HOST_CCLR_REPO_DIR=./predap-cclr
CCLR_REPO_PATH=/app/predap-cclr

TRAIN_TARGET_CODE=DEMAND__TOTAL
TRAIN_EXPERIMENT_SETUP=7_7
TRAIN_ALL_EXPERIMENT_SETUPS=7_7,14_14,60_30,60_60,182_182,365_182
TRAIN_DATA_PATH=private_runtime/data/historical_daily.parquet
TRAIN_ALL_CODES_PATH=private_runtime/data/target_codes_models_columns_order.json
TRAIN_BEST_FEATURES_PREFIX=runtime/best_features/BEST_features_NOSMOOTH_
TRAIN_ALL_MODELS_DIR=../quantized_models
TRAIN_ALL_LOGS_DIR=runtime/training_logs
TRAIN_ALL_STATUS_DIR=runtime/training_status
TRAIN_REQUIRE_GPU_FLAG=--require-gpu
IMPORT_MODEL_CODE=DEMAND__TOTAL
IMPORT_EXPERIMENT_NAME=PREDAP_Recovered_Artifacts
IMPORT_SOURCE_LABEL=recovered_private_runtime
INFERENCE_EXPERIMENT_NAME=PREDAP_Inference_Outputs
INFERENCE_OUTPUT_PREFIX=real/final_output_predictions
INFERENCE_PREDICTION_ORIGIN_DATE=
INFERENCE_METRICS_PATH=
INFERENCE_MODEL_SELECTION_METRICS_DIR=private_runtime/results
DAILY_INFERENCE_DAYS=7
DAILY_INFERENCE_START_DATE=
DAILY_INFERENCE_END_DATE=
DAILY_INFERENCE_CODES=
DAILY_INFERENCE_LOOKBACK_LIST=7,14,60,60,182,182
DAILY_INFERENCE_FORECAST_LIST=7,14,30,60,182,365
DAILY_INFERENCE_OUTPUT_SUBDIR=real/daily
DAILY_INFERENCE_BATCH_LABEL=
DAILY_INFERENCE_EXPERIMENT_NAME=PREDAP_Inference_Outputs
JOB_TTL_SECONDS=86400
